@model IEnumerable<PontoApp.Models.Company>

<h1>Empresas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary w-1 p-2">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.creationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numFuncionarios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.creationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numFuncionarios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary w-1 p-2">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary w-1 p-2">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-light w-1 p-2">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
