@model IEnumerable<PontoApp.Models.Solicitations>

<h1>Solicitações</h1>

<p>
    <a asp-action="Create" class="btn btn-primary btn-sm">Nova solicitação</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdAt)
            </td>
            <td>
                <a role="button" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Edit</a>
                <a role="button" asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">Details</a>
                <a role="button" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-dark btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
